.initial-Sign-In{
 border: solid;
     border-radius: 20px;
     border-color: black;
     margin-top: 200px;
     width: 300px;
     height: 200px;
 text-align: center;
 background-color: gray;
 margin-left: 35%;

}
h2 {

}

.col-md-6{
  background-color: green;
}
.chatBox{
  width: 60%;
  border-bottom: 2px solid black;
  // height: 150px;
}
.showChat{
  margin-left: 200px;
  height:150px;
}
.image{
  height: 150px;
  width: 180px;
  float: left;
  img{
    width: 100%;
  }
}
.chatEntry{
  width: 40%;
  background-color: blue;
}
.btn-group-xs{
    float: right;
}
.chats{
  // height: 200px;
}
// .footer{
//   background-color: grey;
//   width: 100%;
input{
  width: 100%;
}
.noPadding{
  padding: 0;
}
header{
  position: fixed;
  text-align: center;
  width: 100%;
  border-bottom: 2px solid black;
  z-index: 3;
  background-color: white;
  margin-left: 0;
  padding-left: 0;
}
.row{
  margin: 0;
}
.midSection{
  padding-top:20px;
}
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: orange;
  // border: 2px solid black;

  /* Set the fixed height of the footer here */
  height: 100px;
  margin: 0;
  padding: 0;
  img{
    width: 100px;
    background-color: transparent;
  }
  col-md-2 {
    color: white;
    text-decoration: none;
    &:hover {
      background-color: #f5f5f5;
    }
  }

}
.hidden {
  display: none;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
// .logoHeader img{
//   width: 50px;
// }
