.initial-Sign-In {
  border: solid;
  border-radius: 20px;
  border-color: black;
  margin-top: 200px;
  width: 300px;
  height: 200px;
  text-align: center;
  background-color: #939696;
  margin-left: 35%; }

.col-md-6 {
  background-color: green; }

.chatBox {
  width: 60%;
  border-bottom: 2px solid black; }

.showChat {
  margin-left: 200px;
  height: 150px; }

.image {
  height: 150px;
  width: 180px;
  float: left; }
  .image img {
    width: 100%; }

.chatEntry {
  width: 40%;
  background-color: blue; }

.btn-group-xs {
  float: right; }

input {
  width: 100%; }

.noPadding {
  padding: 0; }

header {
  position: fixed;
  text-align: center;
  width: 100%;
  border-bottom: 2px solid black;
  z-index: 3;
  background-color: white;
  margin-left: 0;
  padding-left: 0; }

.row {
  margin: 0; }

.midSection {
  padding-top: 20px; }

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #F7A22B;
  /* Set the fixed height of the footer here */
  height: 100px;
  margin: 0;
  padding: 0; }
  footer .talk {
    background-color: white; }
  footer .col-md-4 {
    margin-left: 25px;
    padding-top: 10px;
    padding-bottom: 5px; }
  footer img {
    margin-left: 120px;
    width: 80px;
    background-color: transparent; }

.container-fluid {
  padding-right: 0;
  padding-left: 0; }

.edit-form {
  display: inline-block; }

.hidden, .invisible {
  display: none; }

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px; }
