.nav {
  border: solid;
  border-radius: 20px;
  border-color: black;
  padding: 20px;
  width: 300px;
  height: 150px;
  text-align: center;
  background-color: gray;
  margin-left: 28em; }

.col-md-6 {
  background-color: green; }

.chatBox {
  width: 60%;
  border-bottom: 2px solid black; }

.showChat {
  margin-left: 200px;
  height: 150px; }

.image {
  height: 150px;
  width: 180px;
  float: left; }
  .image img {
    width: 100%; }

.chatEntry {
  width: 40%;
  background-color: blue; }

.btn-group-xs {
  float: right; }

.footer {
  background-color: grey;
  width: 100%; }

.hidden {
  display: none; }
